*{
	padding: 0;
	margin: 0;
}
.head{
	display: flex;
	padding: 10px;
	background-color: #C0C5CB;
}
.head_img{
	width: 20%;
	margin-right: 10px;
}
.head_lr{
	width: 80%;
}
.jbxx{
	display: flex;
}
.jbxx_dh{
	width: 50%;
}
.jbxx_gzjy{
	width: 100%;
}
.jbxx2{
	display: flex;
}
.jbxx_zs{
	width: 50%;
}
.ly{
	display: flex;
	padding: 10px;
}
.ly_yx{
	width: 33%;
}
.ly_bj{
	width: 33%;
}