*{padding: 0;margin: 0;}

/*轮播图*/
.navbar{
	margin-bottom: 0;
}
#lunbo img{
	width: 100%;
	height: 300px;
}
.well p{
	text-indent: 2em;
}
.jieshao p{
	text-indent: 2em;
}
#musicPlayer{
	width: 100%;
}
.glyphicon{
	cursor: pointer;
}
#musicImg{
	margin: auto;
	animation: imgRotate 10s linear infinite;
	animation-play-state: paused;
}
@keyframes imgRotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
#bottom{
	margin-top: 50px;
	border-top: 1px solid #CCCCCC;
	padding-top: 20px;
	padding-bottom: 20px;
}
